[submodule "deps/libraqm"]
	path = deps/libraqm
	url = https://github.com/CallumDev/libraqm
[submodule "deps/SheenBidi"]
	path = deps/SheenBidi
	url = https://github.com/Tehreer/SheenBidi
[submodule "deps/libunibreak"]
	path = deps/libunibreak
	url = https://github.com/adah1972/libunibreak
